@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body,
html {
  overflow-x: hidden;
  /* Hide horizontal overflow */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #141e61;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.65rem 3.5rem;
  background: #141e61;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.1rem;
  color: #eeeeee;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 15px;
  vertical-align: middle;
}

.navbar a {
  position: relative;
  font-size: 1.15rem;
  color: #eeeeee;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1.9rem;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #eeeeee;
  transition: 0.5s;
}

.navbar a:hover::before {
  width: 100%;
}

.dropdown-toggle {
  display: none;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #eeeeee;
}

.is-hidden {
  display: none;
}

/** IMAGE CAROUSEL **/

.carousel {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 300ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  height: 60px;
  line-height: 60px;
  transition: background-color 0.3s, color 0.3s, outline 0.5s;
}

.carousel-button:hover,
.carousel-button:focus {
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus:not(:focus-visible) {
  outline: none;
}

.carousel-button:focus-visible {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  z-index: 2;
  color: #eeeeee;
  text-shadow: 2px 2px 3px #000;
}

.carousel-caption h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.carousel-caption p {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.carousel-read-more {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  color: #eeeeee;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.carousel-read-more:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/** ABOUT PAGE **/

#textandtwitter {
  display: flex;
  justify-content: space-between;
  padding: 50px 4% 30px 4%;
  gap: 2.5rem;
  align-items: flex-start;
}

#leftsection {
  flex: 0 1 60%;
  background-color: #eeeeee;
  padding: 25px 2.5rem;
  color: #333;
  border-radius: 1rem;
}

.project-description {
  font-size: 1rem;
}

.project-description p,
.project-description ol {
  margin-bottom: 15px;
}

#twitter {
  flex: 1 0 40%;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 0.6rem;
  min-width: 300px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
}

.project-description ol {
  padding-left: 20px;
}

.project-description li {
  margin-bottom: 7px;
}

/** TEAM PAGE **/

#team {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  margin-bottom: 0px;
}

.wrapper {
  background: #eeeeee;
  width: 75%;
  border-radius: 1rem;
  padding: 3.125rem;
  margin: 1.875rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.section-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sectionbigtext {
  color: #eeeeee;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#team h2 {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

#team hr {
  width: 120px;
  margin: 15px auto;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-mem {
  width: calc(25% - 20px);
  box-sizing: border-box;
  margin: 20px 0 10px 0;
  text-align: center;
}

.members.professors .team-mem {
  width: calc(30% - 20px);
}

.members.students .team-mem {
  width: calc(30% - 20px);
}

#team img {
  max-width: 100%;
  width: 180px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
}

#team h4 {
  text-align: center;
  font-size: max(1vw, 12px);
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#team a {
  color: inherit;
  text-decoration: none;
}

#team p {
  text-align: center;
  font-size: 11px;
  margin: 8px;
}

/** PUBLICATIONS PAGE **/
#publications {
  padding: 15px 4% 10px 4%;
  color: #333333;
}

#publications h3 {
  margin-bottom: 30px;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  background-color: #eeeeee;
  padding: 40px;
  border-radius: 1rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  overflow: hidden;
}

.pub-list {
  flex-grow: 1;
  padding-bottom: 20px;
}

.column ul {
  list-style-type: none;
  padding-left: 0;
}

.column li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 40px;
}

/* Icon container for each publication type */
.icon-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
}

.icon-container::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}

.tooltip {
  visibility: hidden;
  min-width: 80px;
  max-width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 100%;
  /**transform: translateX(-40%);**/
  margin-left: -30px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}
/**
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}**/

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Icons for different publication types */
.poster .icon-container::before {
  background-image: url("../images/Publication-Icons/Poster-Presentation-Icon.png");
}
.invpres .icon-container::before {
  background-image: url("../images/Publication-Icons/Invited-Presentation-Icon.png");
}
.conpro .icon-container::before {
  background-image: url("../images/Publication-Icons/Conference-Proceedings-Icon.png");
}
.presnt .icon-container::before {
  background-image: url("../images/Publication-Icons/Presentation-Icon.png");
}
.joupap .icon-container::before {
  background-image: url("../images/Publication-Icons/Journal-Paper-Icon.png");
}
.extabs .icon-container::before {
  background-image: url("../images/Publication-Icons/Extended-Abstract-Icon.png");
}

.conpres .icon-container::before {
  background-image: url("../images/Publication-Icons/Conference-Presentation-Icon.png");
}

.jouart .icon-container::before {
  background-image: url("../images/Publication-Icons/Journal-Article-Icon.png");
}

/** TOOLS PAGE STYLES **/
#tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 60vh;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 250px;
  padding-top: 30px;
}

input {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  height: 480px;
  width: 430px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
  padding-top: 20px;
}

.cards label {
  flex: 1 0 auto;
  position: absolute;
  width: 430px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card {
  position: relative;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 30px 35px;
  min-width: 250px;
}

.card {
  user-select: none;
}

.cards [data-active] .btn-contact:hover {
  cursor: pointer;
}

.card .image {
  display: flex;
  justify-content: space-between;
}

.card .image img {
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 23px;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card .infos {
  display: block;
  text-align: end;
  padding-top: 40px;
}

.infos span {
  display: block;
}

.infos .name {
  font-size: 1.5rem;
  color: var(--current-color1);
  letter-spacing: 0.3rem;
  margin-bottom: 20px;
  padding-left: 25%;
  transition: all 0.6s ease;
}

.infos .tooldesc {
  font-size: 0.85rem;
  color: #787a91;
  letter-spacing: 2px;
}

.card .btn-contact {
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  transition: all 0.7s ease;
}

#tall-card .infos .name {
  font-size: 1.2rem;
  padding-left: 10%;
  margin-bottom: 10px;
}

#tall-card .infos .tooldesc {
  font-size: 0.8rem;
  letter-spacing: normal;
  line-height: 1.3;
}

#tall-card .btn-contact {
  margin-top: 20px;
}

/* When slide 1 is checked, slide 2 is on the right and slide 3 is on the left */
#s1:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  /* Positioned to the right */
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  /* Positioned to the left */
  --current-color1: #eceaed;
  --current-color2: #404457;
}

/* When slide 2 is checked, slide 3 is on the right and slide 1 is on the left */
#s2:checked ~ .cards #slide3 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -120px);
  /* Positioned to the right */
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s2:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -120px);
  /* Positioned to the left */
  --current-color1: #eceaed;
  --current-color2: #404457;
}

/* When slide 3 is checked, slide 1 is on the right and slide 2 is on the left */
#s3:checked ~ .cards #slide1 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  /* Positioned to the right */
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s3:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  /* Positioned to the left */
  --current-color1: #eceaed;
  --current-color2: #404457;
}

/* Center slide styling for when each radio button is checked */
#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  /* Centered */
  --current-color1: #141e61;
  --current-color2: #eceaed;
}

/** FOOTER **/

/* Common Styles */
.footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #eeeeee;
  padding: 50px 130px 50px 130px;
}

/* Left Side Logos */
.left-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  height: 100px;
  width: auto;
  margin: 20px;
}

.top-logos {
  display: flex;
}

.cosmos-logo {
  height: 80px;
  width: auto;
  margin-top: 15px;
}

.right-footer-logo {
  height: 125px;
  width: auto;
  margin: 20px;
}

/* Right Side Logos and Award Number */
.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-logos {
  display: flex;
}

.award-number {
  margin-top: 10px;
  text-shadow: 0.5px 0.5px black;
  font-size: 1.25rem;
}
